@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap);
html {
  font-size: 16px;
}

html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  user-select: none;
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 2fr;
  height: 100vh;
  padding-bottom: 50px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result__text {
  font-size: 3rem;
  font-weight: 700;
}

.wrapper {
  display: flex;
  align-items: center;
  column-gap: 50px;
  height: 100%;
}

.grid {
  width: 35vw;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid__block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  transition: 0.5s;
}

.grid__block:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px #c7c7c7;
}

.grid__block_select {
  color: #fff;
  background-color: #333;
}

.signs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.sign,
.count,
.user-result {
  font-size: 2rem;
}

@media screen and (max-width: 769px) {
  main {
    width: 65vw;
  }
  .wrapper {
    flex-direction: column;
    row-gap: 50px;
  }
  .grid {
    width: 100%;
  }
  .signs {
    flex-direction: row;
    height: auto;
    column-gap: 50px;
  }
}
@media screen and (max-width: 426px) {
  main {
    width: 90vw;
  }
  .result__text {
    font-size: 2.2rem;
  }
  .grid__block {
    font-size: 1.4rem;
  }
  .sign,
  .count,
  .user-result {
    font-size: 1.7rem;
  }
}
