@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

html, body {
    width: 100vw;
    height: 100vh;
}

html {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

body {
    padding: 40px;
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab__links {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: .3s;
    font-size: 17px;
    width: 33.3%;
    border-right: 2px solid #333;
}

.tab__links-no {
    border: none!important;
}

.tab__links:hover {
    background-color: #6671d1;
    color: #FAFAFA;
}

.tab__links.active {
    background-color: #6671d1;
    color: #FAFAFA;
}

.tab-content {
    display: none;
    border-top: none;
    margin-top: 50px;
    overflow-y: scroll;
    height: 50vh;
}

.titles {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

.titles__text {
    width: 33.3%;
}

.item {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.item p {
    width: 33.3%;
    color: #FAFAFA;
    margin-left: 20px;
}

.item_actual {
    background-color: #6671d1;
}

.item_disbanded {
    background-color: #d55e3d;
}

.item_issued {
    background-color: #369f38;
}

.btn {
    padding: 15px 25px;
    background-color: transparent;
    border: solid 2px #333;
    color: #333;
    font-size: 1rem;
    transition: .3s;
    display: block;
    width: 200px;
    height: 50px;
}

.btn:hover {
    border: solid 2px #6671d1;
    color: #FAFAFA;
    background-color: #6671d1;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 30px;
}

@media screen and (max-width: 426px) {
    .tab {
        display: flex;
        flex-direction: column;
    }
    .tab__links {
        width: 100%;
        border-right: none;
        border-bottom: solid 2px #333;
    }

    .titles {
        justify-content: space-between;
    }

    .titles__text {
        width: 100%;
    }
}

@media screen and (max-width: 376px) {
    body {
        padding: 20px;
    }
}