html {
    font-size: 16px;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Anek Devanagari', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    padding: 0 60px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list > li {
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #333;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    user-select: none;
    margin-top: 50px;
    transition: .8s;
}

/*.list > li:hover {*/
/*    background-color: #333333;*/
/*    color: white;*/
/*}*/

#results {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 600;
    letter-spacing: 3px;
    user-select: none;
}

@media screen and (max-width: 426px) {
    .list-container {
        column-gap: 30px;
        padding: 0 30px;
    }
    .list {
        width: 50%;
    }

    #examples-list > li {
        width: 100%;
    }

    #answers-list {
        align-items: flex-end;
    }

    #answers-list > li {
        width: 50%;
    }
}