html {
    font-size: 16px;
}

html, body, main, .loader {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Anek Devanagari', sans-serif;
}

.loader {
    background-color: #151414;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    transition: .7s;
}

.ml3 {
    color: #fafafa;
    letter-spacing: 3px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    padding: 0 60px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list > li {
    width: auto;
    height: 60px;
    display: flex;
    /*justify-content: flex-start;*/
    align-items: center;
    /*border: solid 1px #333;*/
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    user-select: none;
    margin-top: 50px;
    transition: .8s;
}

#examples-list > li {
    justify-content: flex-start;
}

#answers-list > li {
    justify-content: flex-end;
}

#results {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 600;
    letter-spacing: 3px;
    user-select: none;
}

#results.dark_theme {
    color: #fafafa;
}

.good {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    color: #333;
    font-weight: 400;
    letter-spacing: 2px;
    transition: .7s;
}

.good_show {
    opacity: 1;
}

.good_hide {
    opacity: 0;
}

@media screen and (max-width: 426px) {
    .list-container {
        column-gap: 30px;
        padding: 0 30px;
    }
    .list {
        width: auto;
    }

    #examples-list > li {
        width: auto;
        border: solid 1px red;
    }

    #answers-list {
        align-items: flex-end;
    }

    #answers-list > li {
        width: 50%;
    }
}
